"*":
  core:
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "FiraCode-Retina"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  minimap: {}
  "php-cs-fixer":
    executablePath: "/usr/local/bin/php-cs-fixer"
    rules: "@Symfony"
    showInfoNotifications: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    useEslint: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
